@font-face {
  font-family: "Nunito";
  src: url('Nunito-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url('Nunito-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url('Nunito-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url('Nunito-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url('Nunito-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url('Nunito-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url('Nunito-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url('Nunito-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}