

// z-index
$z-navbar: 9;
$z-sidebar: 10;
$z-modal: 10;

// sizes
$size-container: 1100px;
$size-navbar: 92px;
$size-sidebar: 300px;

// font-family
$font-primary: "Nunito";
$font-secondary: "Roboto";

// blur 
$blur: .5rem;